.navbar a {
  margin-left: 1em;
	color: #eb7e9a;
	text-decoration: none;
}

.nav-item a {
	position: relative;
	float: left;
	color: black;
}

.nav-social {
	position: relative;
	float: right;
  margin-right: 1em;
}

.nav-social a {
	color: black;
}