body {
  font-family:
    "Hind Siliguri",
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    sans-serif;
  overflow: scroll;
  overflow-x: hidden;
}

.container {
	padding-top: 15vh;
	position: relative;
}

.navbar a {
  margin-left: 1em;
	color: #eb7e9a;
	text-decoration: none;
}

.nav-item a {
	position: relative;
	float: left;
	color: black;
}

.nav-social {
	position: relative;
	float: right;
  margin-right: 1em;
}

.nav-social a {
	color: black;
}
